---
title: "Linux Victoria"
layout: layout.html
---

<section class="bg-body mt-5">
    <div class="container">

        <!-- Upcoming Events -->
        <section>
            <h3 class="text-primary fw-semibold text-center text-lg-start mb-4">Linux Victoria Upcoming Events</h3>

            <div class="row row-gap-3">
                {% for event in config.eventCards %}
                <div class="col-12 col-lg-6 pb-4">
                    <div class="card bg-body-tertiary rounded-3 shadow-sm text-primary border-0 h-100">
                        <div class="row g-0 flex-column flex-md-row h-100">
                            <div class="col-md-7">
                                <div class="card-body">
                                    <h5 class="card-title">{{ event.title }}</h5>
                                    {% if event.date %}<p class="card-text mb-0">{{ event.date }}</p>{% endif %}
                                    {% if event.time %}<p class="card-text mb-0">{{ event.time }}</p>{% endif %}
                                    <p class="card-text">Location: {{ event.location }}</p>
                                    <a class="btn btn-sm btn-primary stretched-link" href="{{ event.link }}">Read
                                        Details</a>
                                </div>
                            </div>
                            <div class="col-md-5 d-flex align-items-center justify-content-center">
                                <img src="{{ event.image }}" class="img-fluid rounded" alt="{{ event.alt }}">
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </section>

        <!-- Ways to Engage -->
        <section class="py-5">
            <div class="">
                <h3 class="text-primary fw-semibold mb-4 text-uppercase text-center">Ways to Engage </h3>
                <br>
                <!-- Newsletter -->
                <div class="text-primary text-center row col-12 offset-md-1 col-md-10 bg-light rounded-3 p-4 pb-0">
                    <h2 class="mb-0 fs-3 fw-semibold">Subscribe to Our Newsletter</h2>
                    <script type="text/javascript" src="//mautic.linuxvictoria.org/form/generate.js?id=1"></script>
                </div>

                <br>

                <!-- Volunteer Call -->
                <div class="text-primary text-center row col-12 offset-md-1 col-md-10 bg-light rounded-3 p-4">
                    <h3 class="text-primary fw-semibold">Get Involved!</h3>
                    <h4 class="text-primary fw-semibold fs-5">Linux Victoria is currently looking for volunteers.</h4>
                    <p>
                        If you are interested in helping out, please fill in our
                        <a href="/volunteer-form">Volunteer Form</a>
                    </p>
                    <div>
                        <a href="/volunteer-form" class="btn btn-outline-primary">Volunteer Form</a>
                    </div>
                </div>

                <br>

                <!-- Join LUV / Mailing List -->
                <div class="text-primary text-center row col-12 offset-md-1 col-md-10 bg-light rounded-3 p-4">
                    <h3 class="text-primary fw-semibold">Chat in LUV's Mailing Lists</h3>
                    <a href="https://lists.luv.asn.au/mailman3/postorius/lists/luv-announce.luv.asn.au/">Subscribe
                        to
                        LUV's
                        announce mailing list.</a>
                    <p class="mb-0">We'll send you a confirmation email in reply.</p>
                    <p class="mb-0">Come back, enter the confirmation password, and you're done!</p>
                </div>

                <div class="mb-5 text-center text-lg-start">
                </div>

            </div>
        </section>


        <!-- Useful Links -->
        <div class="mb-5">
            <h3 class="text-primary fw-semibold mb-4 text-center text-lg-start">Useful Links</h3>
            <div class="row row-gap-2">
                {% for link in config.usefulLinks %}
                <a href="{{ link.link }}" target="_blank" class="col-12 text-decoration-none">
                    <h4 class="text-dark border-start border-primary border-5 ps-2">{{ link.title }}</h4>
                </a>
                {% endfor %}
            </div>
        </div>

    </div>
</section>



<script>
    (() => {
        'use strict'

        const forms = document.querySelectorAll('.needs-validation')

        Array.from(forms).forEach(form => {
            form.addEventListener('submit', event => {
                if (!form.checkValidity()) {
                    event.preventDefault()
                    event.stopPropagation()
                }

                form.classList.add('was-validated')
            }, false)
        })
    })()
</script>