

<footer class="bg-body-secondary container-fluid p-5 pb-3 text-center mt-5">
    <!-- <p class="text-dark">Copyright &copy; 2024 <a class="text-decoration-none text-dark" href="https://www.electronworkshop.com.au">Electron Workshop</a></p> -->
    <div class="row">
        <div class="col-12 mb-3">
            <span class="mb-1 text-secondary">Copyright &copy; <span id="year"></span> Linux Users of Victoria - All
                Rights
                Reserved
            </span>
        </div>
    </div>
</footer>

<script>

    document.getElementById("year").textContent = new Date().getFullYear();
</script>

</body>

</html>